
<%- include('../layouts/header.ejs') %>

    <%- include('../admin/adminHeader.ejs') %>

<div class="container">
  <div class="welcome-message">

<h1 >Welcome , <%= admin.name %></h1>
<div class="admin-details">

<table style="width: 30%;">
  <tr>
      <td>Name</td>
      <td><%= admin.email %></td>
  </tr>
  <tr>
      <td>Mobile</td>
      <td><%= admin.phone %></td>
  </tr>

</table>
</div>
<div class="buttons">

<a href="/admin/logout">logout</a>
<br>
<a href="/admin/UserList">Dashboard</a>
</div>
</div>
</div>
<%- include('../admin/adminFooter.ejs') %>

<%- include('../layouts/footer.ejs') %>