<%- include('../layouts/header.ejs') %>
<%- include('../admin/adminHeader.ejs') %>

<style>
    /* Center the heading text horizontally */
    .table th {
        text-align: center;
    }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Users List</h4>
                    <div class="breadcrumb__links">
                        <a href="/admin/home">Home</a>
                        <span>Users List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="main my-5">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped bg-white" id="userTable">
                <thead>
                    <tr class="table-dark">
                        <th class="text-white text-center">Name</th>
                        <th class="text-white text-center">Email</th>
                        <th class="text-white text-center">Mobile</th>
                        <th class="text-white text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(users.length > 0) { %>
                        <% users.forEach(user => { %>
                            <tr>
                                <td class="text-center"><%= user.name %></td>
                                <td class="text-center"><%= user.email %></td>
                                <td class="text-center"><%= user.phone %></td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary btn-sm mx-2" href="/admin/editUser?id=<%= user._id %>">Edit</a>
                                    <a class="btn btn-sm <%= user.isblocked ? 'btn-outline-success' : 'btn-outline-danger' %> mx-2"
                                        href="/admin/<%= user.isblocked ? 'unblockUser' : 'blockUser' %>?id=<%= user._id %>">
                                        <%= user.isblocked ? 'Unblock' : 'Block' %>
                                    </a>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="4" class="text-danger">Users Not Found</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include('../admin/adminFooter.ejs') %>
 

<script>
    $(document).ready(function() {
        $('#userTable').DataTable();
    });
</script>
<%- include('../layouts/footer.ejs') %>
