<%- include('../layouts/header.ejs') %>

    <%- include('../users/userHeader.ejs') %>


        <!-- Hero Section Begin -->
        <section class="hero">    
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6>Summer Collection</h6>
                                    <h2>Mens Summer Collections 2024</h2>
                                    <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to exceptional quality.</p>
                                    <a href="/products?category=6593b26d36abff3b9a62868c" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6>Summer Collection</h6>
                                    <h2>Mens Summer Shirt Collection</h2>
                                    <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to exceptional quality.</p>
                                    <a href="/products?category=65969f6e9d77de7a4d70d8eb" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Hero Section End -->

        <!-- Banner Section Begin -->
        <section class="banner spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 offset-lg-4">
                        <div class="banner__item">
                            <div class="banner__item__pic">
                                <img src="img/banner/polo tshirt.jpg" alt="">
                            </div>
                            <div class="banner__item__text">
                                <h2>Polo T-Shirt Collections </h2>
                                <a href="/products?category=65e0ad1039ca5e2169bfc64d">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="banner__item banner__item--middle">
                            <div class="banner__item__pic">
                                <img src="img/banner/women jacket.jpg" alt="">
                            </div>
                            <div class="banner__item__text">
                                <h2>Woman Jacket</h2>
                                <a href="/products?category=65e16c57c187a7297e59fbed">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="banner__item banner__item--last">
                            <div class="banner__item__pic">
                                <img src="img/banner/kids trousers.jpg" alt="">
                            </div>
                            <div class="banner__item__text">
                                <h2>Kids Trousers</h2>
                                <a href="/products?category=6596c0b29d77de7a4d70d9e9">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End -->


<section class="most-ordered-products">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2 class="font-weight-bold">Latest Product</h2>
          </div>
        </div>
      </div>
      <div class="row" id="latestProductsContainer">
        <% latestProducts.forEach(product => { %>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
          <div class="product__item" style="border-radius: 10px; overflow: hidden;">
            <div class="pro-img" style="position: relative;">
              <!-- Always display the "New" tag -->
              <span class="label">New</span>
              <img src="/uploads/<%= product.images[0] %>" style="width: 100%;" alt="Product Image">
            </div>
            <div class="product__item__text">
              <!-- Product details -->
              <h6><%= product.name %></h6>
              <!-- Other product information -->
              <button class="nav-link" onclick="viewProductDetails('<%= product.category._id %>', '<%= product._id %>')">
                <a class="">View</a>
              </button>
              <br>
              <!-- Display prices and discount percentage -->
              <% if (product.isOfferApplied) { %>
              <h6>
                <!-- Product price in bold -->
                <span style="font-weight: bold;">Rs. <%= product.price %></span>
                <!-- Old price in secondary color with line-through -->
                <span style="color: #6c757d; text-decoration: line-through;">Rs. <%= product.oldPrice %></span>
                <!-- Discount percentage in danger color -->
                <span style="color: #ff6666;">(<%= product.discountPercentage %>% OFF)</span>
              </h6>
              <% } else { %>
              <h6>
                <!-- Only display product price if no offer applied -->
                <span style="font-weight: bold;">Rs. <%= product.price %></span>
              </h6>
              <% } %>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>


<style>
.pro-img {
    position: relative;
}

.label {
    position: absolute;
    top: 15px; /* Adjust as needed */
    left: -25px; /* Adjust to move the tag to the left */
    padding: 1px 35px; /* Adjust padding as needed */
    background-color: #ff6363; /* Elegant color */
    color: #ffffff; /* Text color of the label */
    font-size: 13px; /* Font size of the text */
    font-weight: bold; /* Make the text bold */
     /* Uppercase the text */
    z-index: 2; /* Ensure the label is above the image */
    transform: rotate(-45deg); /* Rotate the label for a ribbon-like effect */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); /* Create a linear shape */
}

</style>

  
        <section class="mx-5">

            <div class="row">
                <h4 class="font-weight-bold"><strong>Categories for Men</strong></h4>
                <br><br>
                <% menCategories.filter(category=> category.categoryType === 'Men' && category.isDeleted ===
                    false).forEach((category, index) => { %>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
                        <div class="product__item" style="border-radius: 10px; overflow: hidden;">
                            <div class="product__item__pic" style="border-radius: 10px; overflow: hidden;">
                                <img src="/uploads/<%= category.image %>" alt="<%= category.name %>">
                            </div>
                            <div class="product__item__text">
                                <h6>
                                    <strong><%= category.name %></strong>
                                </h6>
                                <a href="/products?category=<%= category._id %>" class="add-cart">View Products</a>
                                <div class="rating">
                                    <% /* Add your rating logic here if available for categories */ %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>

        <section class="mx-5">

            <div class="row">
                <h4 class="font-weight-bold"><strong>Categories for Women</strong></h4>
                <br>
                <% womenCategories.filter(category=> category.categoryType === 'Women' && category.isDeleted ===
                    false).forEach((category, index) => { %>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
                        <div class="product__item" style="border-radius: 10px; overflow: hidden;">
                            <div class="product__item__pic" style="border-radius: 10px; overflow: hidden;">
                                <img src="/uploads/<%= category.image %>" alt="<%= category.name %>">
                            </div>
                            <div class="product__item__text">
                                <h6>
                                    <strong><%= category.name %></strong>
                                </h6>
                                <a href="/products?category=<%= category._id %>" class="add-cart">View Products</a>
                                <div class="rating">
                                    <% /* Add your rating logic here if available for categories */ %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>


        <section class="mx-5">
            <h4 class="font-weight-bold"><strong>Categories for Kids</strong></h4>
            <br>

            <div class="row">

                <% kidsCategories.filter(category=> category.categoryType === 'Kids' && category.isDeleted ===
                    false).forEach((category, index) => { %>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
                        <div class="product__item" style="border-radius: 10px; overflow: hidden;">
                            <div class="product__item__pic" style="border-radius: 10px; overflow: hidden;">
                                <img src="/uploads/<%= category.image %>" alt="<%= category.name %>">
                            </div>
                            <div class="product__item__text">
                                <h6><strong><%= category.name %></strong>
                                    
                                </h6>
                                <a href="/products?category=<%= category._id %>" class="add-cart">View Products</a>
                                <div class="rating">
                                    <% /* Add your rating logic here if available for categories */ %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>


        <section class="mx-5">
            <h4 class="font-weight-bold"><strong>Categories for Beauty</strong></h4>
            <br>
            <div class="row">
                <% beautyCategories.filter(category=> category.categoryType === 'Beauty' && category.isDeleted ===
                    false).forEach((category, index) => { %>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-4">
                        <div class="product__item" style="border-radius: 10px; overflow: hidden;">
                            <div class="product__item__pic" style="border-radius: 10px; overflow: hidden;">
                                <img src="/uploads/<%= category.image %>" alt="<%= category.name %>">
                            </div>
                            <div class="product__item__text">
                                <h6>
                                    <strong><%= category.name %></strong>
                                </h6>
                                <a href="/products?category=<%= category._id %>" class="add-cart">View Products</a>
                                <div class="rating">
                                    <% /* Add your rating logic here if available for categories */ %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>


        <div class="container-fluid">
            <div class="row">
            <h3 class="text-center pt-4 font-weight-bold"><b>PARTNER BRAND</b> </h3>
                <div class="col-md-12">
                    <div class="lc-block">
                        <div id="carouselLogos" class="carousel slide pt-5 pb-4 pointer-event" data-bs-ride="carousel">
        
                            <div class="carousel-inner px-5">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3" src="/img/tommy.png" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/levis1.png" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/lp.jpg" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/leeCooper.png" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/Van-Heusen.jpg" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/zara.png" alt="">
                                        </div>
                                    </div>
        
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3" src="/img/addidas.png" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/fila.png" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/lee.jpg" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/allenSolly.png" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/nike.jpg" alt="">
                                        </div>
                                        <div class="col-6 col-lg-2  align-self-center">
                                            <img class="d-block w-100 px-3  mb-3" src="/img/wrangler.jpg" alt="">
                                        </div>
                                    </div>
        
                                </div>
        
                            </div>
        
                         
        
                            <div class="w-100 px-3 text-center mt-4">
                                <a class="carousel-control-prev position-relative d-inline me-4" href="#carouselLogos" data-bs-slide="prev">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                                    </svg>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next position-relative d-inline" href="#carouselLogos" data-bs-slide="next">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                    </svg>
                                    <span class="visually-hidden">Next</span>
                                </a>
        
        
        
        
        
                            </div>
        
        
                        </div>
                    </div> 
                </div> 
            </div>
        </div>




        <%- include('../users/userFooter.ejs') %>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <script>
                $(document).ready(function () {
                    // Functionality for dropdown menus
                    $('.dropdown-toggle').on('click', function (e) {
                        e.preventDefault();
                        $(this).next('.dropdown-menu').slideToggle('fast');
                    });
                });
            </script>
            <%- include('../layouts/footer.ejs') %>