<%- include('../layouts/header.ejs') %>

<%- include('../users/userHeader.ejs') %>

<body class="goto-here" data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Orders</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="hero-wrap hero-bread ">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-cart h-100">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 my-lg-0 my-md-1">
                    <%- include('../users/sidebar.ejs') %>
                </div>

                <div class="col-lg-9 mb-5">
                    <div class="cart-list ">
                        <% if (orderInfo.length > 0) { %>
                            <table class="table mt-4">
                                <thead class="thead-primary wishlist001">
                                    <tr class="text-center" style="background-color: burlywood;">
                                        <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                        class="sorting ">Ordered On</th>
                                        <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                        class="sorting ">No Of Products</th>
                                        <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                        class="sorting ">Total Price</th>
                                        <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                        class="sorting ">Payment Method</th>
                                        <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                        class="sorting ">Order Status</th>
                                        <!-- <th>Delivery Status</th> -->
                                        <th class="bg-dark text-white text-center" style="font-size: 15px;" scope="col"
                                        class="sorting ">Action</th>
                                    </tr>
                                </thead>                                
                                <tbody >
                                    <% orderInfo.forEach((order) => { %>
                                    <tr >
                                        <td class="text-center " style="background-color: antiquewhite";>
                                            <% if (order.orderDate) { %>
                                                <%= order.orderDate.getDate() + '-' + (order.orderDate.getMonth() + 1) + '-' + order.orderDate.getFullYear() %>
                                            <% } %>
                                        </td>

                                        <td class="text-center" style="background-color: antiquewhite";><%= order.items.length %></td>
                                        
                                        
                                        <td class="text-center" style="background-color: antiquewhite";>₹<%= order.totalPrice %></td>
                                        <td class="text-center" style="background-color: antiquewhite";><%= order.payments.pay_method %></td>
                                        <td class="text-center text-capitalize" style="background-color: antiquewhite";><%= order.orderStatus %></td>

                                        <td style="display: flex; justify-content: center; background-color: antiquewhite;">
                                            <a href="/orderItems/<%= order._id %>" class="text-decoration-none">
                                                <button type="button btn-sm" class="btn  text-white" style="width: 90px; display: block; background-color: #55009b;">View</button>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                                
                            </table>
                        <% } else { %>
                            <h3 class="mt-5 text-center">No Orders In Your List</h3>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../users/userFooter.ejs') %>
    <script src="/js/user/orders.js"></script>
    <%- include('../layouts/footer.ejs') %>
</body>
