<%- include('../layouts/header.ejs') %>

<%- include('../users/userHeader.ejs') %>
<section class="breadcrumb-option">
    <div class="container">
        
        <div class="breadcrumb__text">
            <h4>Shop - <%= categoryType %> - <%= categoryName %></h4>
            <!-- Breadcrumb links -->
            <div class="breadcrumb__links">
                <a href="/home">Home</a>
                <span><%= productName %></span>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row mt-5">
        <% if (products && products.length > 0) { %>
            <% products.forEach((product, i) => { %>
                <div class="col-lg-2 col-md-3 d-flex align-items-md-center justify-content-center">
                    <ul class="nav nav-tabs ml-5" role="tablist">
                        <% const productImages = product.images || []; %>
                        <% productImages.forEach((image, j) => { %>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#" onclick="updateMainImage('/uploads/<%= image %>')">
                                    <img src="/uploads/<%= image || 'no-image.webp' %>" style="background-size: cover; background-repeat: no-repeat; height: 120px; width: 95px;" alt="Product Image <%= j + 1 %>">
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>

                <div class="col-lg-8 col-md-9 d-flex align-items-left justify-content-left">
                    <div class="tab-content">
                        <% product.images.forEach((image, k) => { %>
                            <div class="tab-pane <%= k === 0 ? 'active' : '' %>" id="tabs-<%= k + 1 %>" role="tabpanel">
                                <!-- Display the product image and details in the same row -->
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <!-- Display the main product image with zoom and crop -->
                                        <div class="product-image-container">
                                            <img id="mainProductImage" class="zoom" src="/uploads/<%= product.images[0] || 'no-image.webp' %>" alt="Main Product Image">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <!-- Render product details -->
                                        <h3><strong><%= product.name %></strong></h3>
                                        <div class="rating my-4">
                                            <% const rating = 4; %> <!-- Set the rating value to 4 -->
                                            <% for (let i = 0; i < 5; i++) { %>
                                                <i class="fa fa-star<%= i < rating ? '' : '-o' %>"></i>
                                            <% } %>
                                            <!-- Display the rating value -->
                                            <span><%= rating %>/5</span>
                                        </div>                                        
                                        <p><%= product.description %></p>
                                        <h6 class="my-4"><strong>Select Size:</strong></h6>
                                        <div class="sizes-container">
                                            <% if (product.sizes && product.sizes.length > 0) { %>
                                                <% product.sizes.forEach((size) => { %>
                                                    <button class="size-box" onclick="handleSizeSelection('<%= size.size %>')"> <%= size.size %> </button>
                                                <% }) %>
                                            <% } else { %>
                                                <!-- Handle case where sizes are not available -->
                                                <div>No sizes available</div>
                                            <% } %>
                                        </div>

                                        <br>

                                        <!-- Product Price -->
                                        <% if (product.isOfferApplied) { %>
                                            <h4>
                                                <!-- Product price in bold -->
                                                <span style="font-weight: bold;">Rs. <%= product.price %></span>
                                                <!-- Old price in secondary color with line-through -->
                                                <span style="color: #6c757d; text-decoration: line-through;">Rs. <%= product.oldPrice %></span>
                                                <!-- Discount percentage in danger color -->
                                                <span style="color: #ff6666;">(<%= product.discountPercentage %>% OFF)</span>
                                            </h4>
                                        <% } else { %>
                                            <!-- Only display product price if no offer applied -->
                                            <h4><strong>Price: Rs. <%= product.price %></strong></h4>
                                        <% } %>
                                        <!-- Add to Cart Button -->
                                        <!-- Inside the section where the products are displayed -->
                                        <button class="btn btn-primary mt-3" onclick="selectSizeAndAddToCart('<%= product._id %>')">Add to Cart</button>

                                        <button class="btn btn-warning mt-3 mx-3" onclick="selectSizeAndAddToWishlist('<%= product._id %>')">Add to wishlist</button>
                                        <!-- Other Details -->
                                        <div class="other-details mt-4">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="me-3 my-3">
                                                            <i class="fa fa-lock"></i>
                                                            <span>Secure Payments</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="mx-5 my-3">
                                                            <i class="fa fa-ruler"></i>
                                                            <span>Size and Fit</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="me-3 my-3">
                                                            <i class="fa fa-truck"></i>
                                                            <span>Free Shipping</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="mx-5 my-3">
                                                            <i class="fa fa-undo"></i>
                                                            <span>Free Shipping & Returns</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</section>



<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Products</h3>
            </div>
        </div>
        <div class="row product__filter">
            <% if (relatedProducts.length > 0) { %>
                <% relatedProducts.forEach((relatedProduct) => { %>
                    <div class="col-lg-3 col-md-3 col-sm-6 my-3">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="<%= relatedProduct.images && relatedProduct.images.length > 0 ? '/uploads/' + relatedProduct.images[0] : '/img/no-image.webp' %>">
                                <!-- Product image and hover elements -->
                                <ul class="product__hover">
                                    <li><button onclick="addToWishlist('<%= relatedProduct._id %>')"><img src="img/icon/heart.png" alt=""></button></li>
                                </ul>
                            </div>

                            <div class="product__item__text">
                                <!-- Product details -->
                                <h6><%= relatedProduct.name %></h6>
                                <!-- Other product information -->
                                <button class="nav-link view-btn" onclick="viewProductDetails('<%= category._id %>', '<%= relatedProduct._id %>')"><a class="">View</a></button>
                                <br>
                                <!-- Display prices and discount percentage -->
                                <% if (relatedProduct.isOfferApplied) { %>
                                    <h6>
                                        <!-- Product price in bold -->
                                        <span style="font-weight: bold;">Rs. <%= relatedProduct.price %></span>
                                        <!-- Old price in secondary color with line-through -->
                                        <span style="color: #6c757d; text-decoration: line-through;">Rs. <%= relatedProduct.oldPrice %></span>
                                        <!-- Discount percentage in danger color -->
                                        <span style="color: #ff6666;">(<%= relatedProduct.discountPercentage %>% OFF)</span>
                                    </h6>
                                <% } else { %>
                                    <h6>
                                        <!-- Only display product price if no offer applied -->
                                        <span style="font-weight: bold;">Rs. <%= relatedProduct.price %></span>
                                    </h6>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="col-12">
                    <h3 class="text-danger">No Related Products</h3>
                </div>
            <% } %>            
        </div>
    </div>
</section>





<%- include('../users/userFooter.ejs') %>

<%- include('../layouts/footer.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<script>
    function updateMainImage(imageSrc) {
        // Update the main product image source
        $('#mainProductImage').attr('src', imageSrc);

        // Reinitialize Elevate Zoom for the updated image
        initializeElevateZoom();
    }

    function initializeElevateZoom() {
        $('#mainProductImage').elevateZoom({
            zoomType: "inner",
            cursor: "crosshair",
            zoomWindowFadeIn: 500,
            zoomWindowFadeOut: 500
            // Add other ElevateZoom options as needed
        });
    }

    // Initialize Elevate Zoom on page load
    $(document).ready(function () {
        initializeElevateZoom();
    });
</script>





