<%- include('../layouts/header.ejs') %>
<%- include('../users/userHeader.ejs') %>

<main class="main h-auto mb-5 d-flex justify-content-center">
    <div class="login-page bg-image pt-4 pb-4 pt-md-6 pb-md-6 pt-lg-8 pb-lg-8 mt-2 mx-auto w-100 mb-4"
        style="background-image: url('/img/login-bg.jpg'); background-size: cover; background-position: center;">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4 bg-white p-4">
                    <h2 class="text-center font-weight-bold mb-4">Verify Your Email Address</h2>

                    <!-- Display error message if OTP verification fails -->
                    <% if (message && message === 'Invalid OTP. Please Try Again') { %>
                        <div class="alert alert-danger text-center" role="alert">
                            <%= message %>
                        </div>
                    <% } %>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                            aria-labelledby="tab-login">
                            <form action="/verify" method="POST">
                                <div class="form-group">
                                    <label class="form-label" for="otp">Enter The OTP</label>
                                    <input type="text" id="otp" name="enteredOTP" class="form-control" />
                                </div>

                                <button type="submit" class="btn btn-dark btn-block mb-3">Verify</button>

                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <div class="counterDiv mb-3">
                                        <p class="font-weight-bold text-success mb-0" style="font-size: 1.2rem;">
                                            <span id="timer-minutes">00</span>:<span id="timer-seconds">00</span>
                                        </p>
                                    </div>
                                    <button id="resendOtpButton" class="btn btn-link text-primary">RESEND OTP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../users/userFooter.ejs') %>
<%- include('../layouts/footer.ejs') %>
