<%- include('../layouts/header.ejs') %>
<%- include('../users/userHeader.ejs') %>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <!-- Your breadcrumb content -->
        <div class="breadcrumb__text">
            <h4>Shop - <%= categoryType %> - <%= categoryName %></h4>
            <!-- Breadcrumb links -->
            <div class="breadcrumb__links">
                <a href="/home">Home</a>
                <span>Shop - <%= categoryType %> - <%= categoryName %></span>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad" style="background-color: rgba(255, 255, 255, 0.557);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- Filter Section -->
                <div class="shop__sidebar">
                    <!-- Filter options -->
                    <div class="shop__sidebar__search">
                        <!-- Search bar -->
                        <form action="/search" method="GET" id="searchForm">
                            <div class="shop__sidebar__search">
                                <input type="hidden" name="categoryId" value="<%= categoryId %>">
                                <input type="text" placeholder="Search..." id="search" name="searchTerm">
                                <button type="submit"><span class="icon_search"></span></button>
                            </div>
                        </form>
                        <!-- Gray line between search bar and size checkboxes -->
                        
                    </div>
                    <hr style="border: 1px solid #ccc;">
                    <!-- Size checkboxes -->
                    <div class="shop__sidebar__size">
                        <h6>Sizes</h6>
                        <div class="size-options">
                            <!-- Size checkbox options -->
                            <div class="size-option">
                                <input type="checkbox" id="sizeS" name="sizeS">
                                <label for="sizeS">S</label>
                            </div>
                            <div class="size-option">
                                <input type="checkbox" id="sizeM" name="sizeM">
                                <label for="sizeM">M</label>
                            </div>
                            <div class="size-option">
                                <input type="checkbox" id="sizeL" name="sizeL">
                                <label for="sizeL">L</label>
                            </div>
                            <div class="size-option">
                                <input type="checkbox" id="sizeXL" name="sizeXL">
                                <label for="sizeXL">XL</label>
                            </div>
                            <div class="size-option">
                                <input type="checkbox" id="sizeXXL" name="sizeXXL">
                                <label for="sizeXXL">XXL</label>
                            </div>
                            <div class="size-option">
                                <input type="checkbox" id="sizeFree" name="sizeFree">
                                <label for="sizeFree">Free Size</label>
                            </div>
                        </div>
                        <!-- Gray line between size checkboxes and products -->
                        <hr style="border: 1px solid #ccc;">
                    </div>
                </div>
            </div>
            <!-- Long gray line to separate sidebar from product display -->
            
            <!-- Product display -->
            <div class="col-lg-9">
                <!-- Sort By dropdown to the right -->
                <!-- <div class="col-lg-12">
                    <div class="shop__product__option__right">
                        
                        <form action="/products" method="get">
                            <input type="hidden" name="categoryId" value="<%= categoryId %>">
                            <select name="sortby" id="sortby" class="sortby">
                                <option value="" <% if (!sortBy) { %> selected <% } %> disabled>Select</option>
                                <option value="lowPrice" <% if (sortBy === 'lowPrice') { %> selected <% } %>>Sort by Low Price</option>
                                <option value="highPrice" <% if (sortBy === 'highPrice') { %> selected <% } %>>Sort by High Price</option>
                            </select>
                            
                        </form>
                        
                    </div>
                </div>          
                 -->
                <!-- Gray line between filters and products -->
                <hr style="border: 1px solid #ccc;">
                <div class="row product__filter">
                    <!-- Product items -->
                    <% if (products.length > 0) { %>
                        <% for (let i = 0; i < products.length; i++) { %>
                            <div class="col-lg-4 col-md-4 col-sm-6 my-3">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="<%= products[i].images && products[i].images.length > 0 ? '/uploads/' + products[i].images[0] : '/img/no-image.webp' %>">
                                        <!-- Product image and hover elements -->
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <!-- Product details -->
                                        <h6><%= products[i].name %></h6>
                                        <!-- Other product information -->
                                        <button class="nav-link" onclick="viewProductDetails('<%= categoryId %>', '<%= products[i]._id %>')"><a class="">View</a></button>
                                        <!-- Product rating -->
                                        <div class="rating">
                                            <!-- Rating stars -->
                                        </div>
                                        <h5>₹ <%= products[i].price %></h5>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="col-12">
                            <h3 class="text-danger">No Product to show</h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pagination section -->
<nav aria-label="Page navigation" id="pagination">
    <!-- Pagination content -->
</nav>




<%- include('../users/userFooter.ejs') %>
<script src="/js/user/searchAndBuy.js"></script>
<%- include('../layouts/footer.ejs') %>

